langchain
chromadb
pre-commit
flake8
black
autoflake
isort
pyupgrade
bpython
python-box[all]
duckduckgo_search
requests
beautifulsoup4
slug
tiktoken
openai
typer[all]
rich
litellm
pyautogen[retrievechat]
flaml[automl]
docker
llama-index
transformers
accelerate
bitsandbytes
streamlit
panel
arxiv
outlines
unstructured
markdown
langchain-community
langchainhub
gradio
langchain-core
sentence-transformers
einops
pypdf
youtube-transcript-api
sentencepiece
docx2txt
ollama
pyperclip
